name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go 1.25.3
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.3"

      - name: Install golangci-lint
        run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest

      - name: Run golangci-lint
        run: $HOME/go/bin/golangci-lint run --timeout=5m

  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16.4
        env:
          POSTGRES_DB: user-subscriptions-api
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: test_password
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.25.3"
          cache: true

      - run: go mod download

      - name: Install golang-migrate
        run: |
          curl -L https://github.com/golang-migrate/migrate/releases/download/v4.17.0/migrate.linux-amd64.tar.gz | tar xvz
          sudo mv migrate /usr/local/bin/migrate

      - name: Wait for PostgreSQL
        run: |
          until pg_isready -h localhost -p 5432 -U postgres; do
            echo "Waiting for postgres..."
            sleep 2
          done

      - name: Run migrations
        env:
          DSN: postgres://postgres:test_password@localhost:5432/user-subscriptions-api?sslmode=disable
        run: migrate -path=./migrations -database="${DSN}" up

      - name: Run tests
        env:
          DSN: postgres://postgres:test_password@localhost:5432/user-subscriptions-api?sslmode=disable
          LOG_LEVEL: debug
        run: go test -v -race -cover ./...
